body{
    background-color: black;
}

.container{
    background-color: white;
    padding-bottom: 2rem;
}

[class*=col-]{
    background-color: blue;
    color: white;
}

.nested{
    background-color: greenyellow;
    color: black;
}

