body{
    background-color: black;
}

.container{
    background-color: white;
    padding-bottom: 2rem;
}

[class*=col-]{
    background-color: rgb(68, 138, 218);
    color: white;
}

.nested{
    background-color: rgb(24, 219, 53);
    color: black;
}

